.filepond--item {
    width: calc(50% - .5em);
}

.fileComponent{

    margin: 10px !important;


}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 175px;
    overflow-y: auto;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
    margin: 8px !important;
}